<div class="say">
    <h1>What do they say?</h1>
    <p>Lorem ipsum, dolor sit elit. Consequuntur pariatur praesentium soluta sunt molestias voluptatem autem libero? Tempora error laboriosam voluptatem, corporis est ea ipsam accusamus. Voluptatibus deleniti delectus ex.</p>
<div class="container-fluid">
  <div class="row">

 <div class="row-md-4">
    <div class="mcard">
      <div>
        <img src="https://www.free-css.com/assets/files/free-css-templates/preview/page262/softy-pinko/assets/images/testimonial-icon.png">
    </div>  
        <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, molestias. Sit explicabo, aliquid ullam voluptatibus quaerat iusto, aspernatur quos cum modi similique blanditiis in quo mollitia suscipit ea? Enim, repellendus.</p>
<div class="ft">
    <img class="avatar">
    <div class="wio">
    <h1>Catherine sort</h1>
    <p>Managing Director</p>
</div>
</div> 
</div>   
</div>
<div class="col-md-4">


<div class="mcard">
    <div>
      <img src="https://www.free-css.com/assets/files/free-css-templates/preview/page262/softy-pinko/assets/images/testimonial-icon.png">
  </div>  
      <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, molestias. Sit explicabo, aliquid ullam voluptatibus quaerat iusto, aspernatur quos cum modi similique blanditiis in quo mollitia suscipit ea? Enim, repellendus.</p>
<div class="ft">
  <img class="avatar">
  <div class="wio">
  <h1>Catherine sort</h1>
  <p>Managing Director</p>
</div>
</div>    
</div>
</div>
<div class="col-md-4">
<div class="mcard">
      <div>
        <img src="https://www.free-css.com/assets/files/free-css-templates/preview/page262/softy-pinko/assets/images/testimonial-icon.png">
    </div>  
        <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, molestias. Sit explicabo, aliquid ullam voluptatibus quaerat iusto, aspernatur quos cum modi similique blanditiis in quo mollitia suscipit ea? Enim, repellendus.</p>
<div class="ft">
    <img class="avatar">
    <div class="wio">
    <h1>Catherine sort</h1>
    <p>Managing Director</p>
</div>
</div>    
</div>
</div>
</div> </div></div>