<div class="work">
<h3>Work Process</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corporis incidunt aperiam quidem aliquam quasi? Ad hic cupiditate sit assumenda?</p>
<div class="container">
    <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <div class="mcard">
        <img src="/assets/images/work-process-item-01.png">
        <h6>Get Ideas</h6>
        <p>Dome publd dishe fho something fiel</p>
    </div>
</div>
   
  
</div>
</div>    
</div>