<div class="talk">
    <h1>Talk to Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, numquam rerum. Odit illum velit voluptatum optio quis, similique aliquid fugiat!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
<div class="touch">
    <h3>keep in touch</h3>
    <p>Lorem cusantium saepe enim ut voluptatum, maxime iusto eaque facilis! Impedit inventore omnis quidem.</p>
<p>Lorem Veniam abo voluptate, animi, something maiores sequi error iure minus numquam. Suscipit, libero a?</p>
</div>
</div>
<div class="col-lg-8">
<div class="forms">
    <input type="text" placeholder="Full Name">
    <input type="email" placeholder="Email Address">
    <textarea placeholder="Your Message"></textarea>
    <button>send message</button>
</div>
</div></div>
</div>
</div>