<div class="blog">
    <h1>Blog Entries</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus cum dolore beatae est nobis ut enim harum consequatur suscipit.</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6">

       
    <div class="mcard">
        <div>
            <img src="/assets/images/blog-item-01.png">
        </div>
        <h2>ceing ithe iglokl ojolgf</h2>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, perferendis minima? Eaque numquam maxime, tempore quisquam obcaecati consectetur? Nihil, quos accusamus! Saepe eligendi ad dignissimos alias blanditiis distinctio placeat reiciendis.</h5>
   <button>Read More</button>
    </div>
</div>
<div class="col-xl-4 col-md-6">
    <div class="mcard">
        <div>
            <img src="/assets/images/blog-item-02.png">
        </div>
        <h2>ceing ithe iglokl ojolgf</h2>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, perferendis minima? Eaque numquam maxime, tempore quisquam obcaecati consectetur? Nihil, quos accusamus! Saepe eligendi ad dignissimos alias blanditiis distinctio placeat reiciendis.</h5>
   <button>Read More</button>
    </div>
</div>
<div class="col-xl-4 col-md-6">
    <div class="mcard">
        <div>
            <img src="/assets/images/blog-item-03.png">
        </div>
        <h2>ceing ithe iglokl ojolgf</h2>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, perferendis minima? Eaque numquam maxime, tempore quisquam obcaecati consectetur? Nihil, quos accusamus! Saepe eligendi ad dignissimos alias blanditiis distinctio placeat reiciendis.</h5>
   <button>Read More</button>
    </div>
</div>
</div>
</div></div>