<div class="container">
    <div class="row">
    <div class="col-md-4">
<div class="wr">
    <img src="https://www.free-css.com/assets/files/free-css-templates/preview/page262/softy-pinko/assets/images/left-image.png">
</div>
</div>
<div class="col-md-8">
<div class="content">
    <h4>let's discuss about you project
    </h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam enim ducimus facere dignissimos voluptates consequuntur fugiat autem nulla minima reiciendis distinctio sit debitis alias laudantium temporibus ut dolor inventore at totam velit, quos quibusdam ex? Minima perferendis doloremque, quis quo ratione optio mollitia, impedit, vel illo temporibus nesciunt ipsam corporis!</p>
</div>
</div>
</div>
</div>