<div class="pricing">
    <h1>Pricing Plans</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sint minima. Dicta, vel quisquam. Provident ratione porro beatae officiis eius, vitae ipsa neque pariatur rem!</p>
<div class="container">
    <div class="row">

<div class="col-lg-4 col-md-6"> 
    <div class="mcard">
<h2>Starter</h2> 
<button class="btn1">$14.50<br>monthly</button>
<div class="des">
<h5>60 GB space</h5>
<h5>600 GB transfer</h5>
<h5>pro design panel</h5>
<h5>15 minute support</h5>
<h5>unlimited emails</h5>
<h5>24/7 security</h5>
</div>
<button class="purchase">purchase now</button>
    </div>
</div> 
<div class="col-lg-4 col-md-6">
    <div class="mcard">
        <h2>Premium</h2> 
        <button class="btn2">$21.50<br>monthly</button>
        <div class="des">
        <h5>60 GB space</h5>
        <h5>600 GB transfer</h5>
        <h5>pro design panel</h5>
        <h5>15 minute support</h5>
        <h5>unlimited emails</h5>
        <h5>24/7 security</h5>
        </div>
        <button class="purchase">purchase now</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="mcard">
                <h2>Advanced</h2> 
                <button class="btn1">$42.00<br>monthly</button>
                <div class="des">
                <h5>60 GB space</h5>
                <h5>600 GB transfer</h5>
                <h5>pro design panel</h5>
                <h5>15 minute support</h5>
                <h5>unlimited emails</h5>
                <h5>24/7 security</h5>
                </div>
                <button class="purchase">purchase now</button>
                    </div>
</div>
</div>  </div></div>